* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #cb2d5f, #367692);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  width: 50%;
  min-height: 70vh;
  background:white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 1rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
}

.loginForm {
  width: 100%;
  padding: 10%;
}

.btn-lgn {
  border-radius: 25px;
}
