html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

.spacer {
  flex: 1 1;
}

.logo-pink {
  color: #cb2d5f;
}

.logo-blue {
  color: #367692;
}

@media(min-width:769px) {
  .mobile-view-only {
    display: none;
    visibility: hidden;
  }
}

@media(max-width:768px) {
  .desktop-view-only {
    display: none;
    visibility: hidden;
  }

  .footer-note {
    font-size: small;
  }
}
