<main>
  <section class="inbox">
    <div class="tasks-and-reminders">
      <div class="current-date">
        <fa-icon [icon]="faCalendarDay" class="pr-2"></fa-icon>
        <h3 class="font-weight-bold">{{ currentDate }}</h3>
      </div>
      <div class="task-reminder">
        <div class="new-task">
          <a mat-mini-fab color="warn" aria-label="add task">
            <mat-icon class="bold font-weight-bolder">
              <fa-icon [icon]="faPlus"></fa-icon>
            </mat-icon>
          </a>
        </div>
        <div
          class="task-reminder-header text-capitalize pl-4 pb-3 text-black-50"
        >
          My Tasks
        </div>
        <div class="task-reminder-list"></div>
      </div>
    </div>
    <div class="messages">
      <div class="new-messages-header">
        <div class="messages-header-text">
          <fa-icon [icon]="faEnvelope" class="pr-2"></fa-icon>
          <h3 class="font-weight-bold">Messages</h3>
        </div>
        <div class="new-message">
          <a mat-mini-fab color="warn" aria-label="new messages">
            <mat-icon class="bold font-weight-bolder">
              <fa-icon [icon]="faPen"></fa-icon>
            </mat-icon>
          </a>
        </div>
      </div>
      <div class="matsamba">
        <div class="messages-count-bar pt-3">
          <div
            class="
              new-messages-count
              text text-capitalize
              pl-4
              pb-3
              text-black-50
            "
          >
            you have <strong>{{ newMessages }}</strong> new messages
          </div>
          <div class="search-messages"></div>
        </div>
        <div id="messages-list" class="messages-list">
          <div class="message-cover">
            <div class="sender-details">
              <div class="sender">
                <h4 class="message-center text-black-50 lead text-capitalize">
                  John Doe
                </h4>
                <small class="sender-mail text-monospace"
                  >(johndoe@mail.com)</small
                >
              </div>
              <div class="delete-message">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </div>
            </div>
            <div class="message-details">
              <p class="message-content">hie allan can we speak</p>
              <span class="time-message-recieved">12 Minutes Ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
