<main>
  <section class="overview">
    <h1 class="heading text-capitalize">overview</h1>
    <div class="overview-stats">
      <div class="daily-profile-views box">10</div>
      <div class="daily-blog-views box">4</div>
      <div class="weekly-profile-views box">15</div>
      <div class="weekly-blog-views box">20</div>
    </div>
  </section>
  <section class="graphical-reports pt-5">
    <h1 class="heading text-capitalize">graphical reports</h1>
    <div class="detailed-website-visits"></div>
  </section>
  <section class="ads-revenue pt-5">
    <h1 class="heading text-capitalize">Ads Revenue</h1>
    <div class="ads-revenue-graph"></div>
  </section>
</main>
